*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}
@font-face{
    font-family: 'Margin';
    src: url(Fonts/Margin-DEMO.ttf);
}

@font-face {
    font-family: 'Groovy';
    src: url(Fonts/Groovy.ttf);
}

body {
    padding-bottom: 1500px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header{
    width: 100%;
    height: 100px;
    background-color: rgb(97, 134, 215);
    z-index: 10;
    position: absolute;
}

header::after {
    content: '';
    display: table;
    clear: both;
  }

.header .navbar{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 25px;
}

.logo img{
    margin-left: 70px;
    height: 140px;
    width: 240px;
    position: absolute;
    bottom: -9px;
}

.menu ul li{
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    line-height: 80px;
    align-items: center;
    margin-top: 35px;
}

.menu a{
    font-family: 'Margin';
    font-size: 30px;
    font-weight: 100;
    color: #fff;
}

.banner{
    width: 80%;
    height: 70%;
    position: absolute;
    top: 25%;
    left: 150px;
    color: #fff;
}

.gif{
    position:absolute;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 30%;
    float:none;
    padding: 100px;
    padding-left: 650px;
    padding-top: 200px;
}

.gif .thing{
    display: inline-block;
    box-shadow: -30px 30px 0 #5541b9;
  }  

.introduction{
    width: 50%;
    float: left;
    padding-left: 50px;
    margin-top: 270px;
}

.introduction h3{
    margin-top: 100px;
    font-family: 'Margin';
    font-size: 20px;
    color: #000;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.introduction h1{
    font-family: 'Margin';
    font-size: 70px;
    position: relative;
    color: #6186d7;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 1;
}
.introduction a{
   text-decoration:none;
   color:#000
}

.introduction p{
    font-size: 19px;
    margin: 20px 20px 20px 0;
    letter-spacing: 1px;
    color: #000;
    padding-right: 75px;
}

.btn-group{
    display: flex;
    width: 100%;
    position: relative;
}

.btn-group .subscribe-button{
    cursor: pointer;
    display: block;
    color: #fff;
    text-align: center;
    border-radius: 32px;
    background-color: #6186d7;
    padding: 15px 50px;
}

.btn-group .subscribe-button a{
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Margin';
    letter-spacing: 1px;
}

.btn-group .play-btn{
    margin-left: 40px;
    display: inline-flex;
}

.btn-group span{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    margin: auto 20px;
    cursor: pointer;
}

.play-btn-inner{
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: #000;
}

.play-btn-inner i{
    padding: 15px 19px;
    font-size: 16px;
    cursor: pointer;
}

.vid{
    position: absolute;
    top: 115%;
    width: 100%;
    text-align: left;
    margin-top: 220px;
    padding: 0 200px;
}
.about-services{
    position: absolute;
    top: 115%;
    width: 100%;
    text-align: right;
    margin-top: 540px;
    padding: 0 300px;
}

.about-services ul{
    display: inline-flex;
    margin: 30px auto;
    text-align: right;
}

.about-services ul li{
    margin: 0 20px;
    cursor: pointer;
}

.about-services ul li img{
    width: 120px;
    height: auto;
}

.about-services ul li p{
    font-size: 15px;
    margin-top: 20px;
    font-weight: 530;
    letter-spacing: 1px;
}

.about-services span{
    font-weight: 600;
    color:#2a3ea0;
    
}
.social-icons{
    position: fixed;
    right: 30px;
    top: 30%;
}

.social-icons ul li{
    margin-top: 5px;
    text-align: center;
}

.social-icons ul li a{
    color: #000;
    padding: 10px;
    display: block;
    font-size: 29px;
}

.social-icons ul li a:hover{
    background-color: #220efb;
    color: #fff;
}

.contacts{
    position: absolute;
    top: 115%;
    width: 100%;
    text-align: center;
    margin-top: 980px;
    padding: 0 300px;
}

.contacts h1{
    color:#fff;
    font-family: 'Margin';
    font-size: 30px;
    font-weight: 30px;
    letter-spacing: 2px;
}

.contacts p{
    color:#fff;
    font-family: Verdana;
    font-size: 11px;
}

.end{
    background-color: #6186d7;
    height: 100px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
}

